<!DOCTYPE html>

<head>
    <% include ./index_partials/head %>
        <script src="../js/editqz.js"></script>
        <link href="/scripts/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
        <script src="/scripts/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>
</head>

<body>

        <% include ./index_partials/navbar %>

<div class="mainContainer container">
    <main class="topPadding">
                      <h2 class="text-center">Edit Quiz Settings</h2>
    <br/>
    <hr/>
    <br/>
        <div class="container-fluid">
            <form role="form" action="updateqz" method="post" id="update_form">
            
            <p> <img style="margin:auto;max-height:200px;max-width:200px" alt="User Pic" src= '<%= settings.picture%>'class="img-responsive">
               <input style="margin-left:40%" id='enableSavePicture' value='Change' data-original-title="Change Picture" data-toggle="tooltip" class="btn btn-sm btn-warning"></input> </p>
               
            <div class="row" id="Name">
                <div class="col-md-2">
                    <label for="qName">Name:</label>
                </div>
                <div class="col-md-8">
                    <div class="form-group" id="step1">
                        <input class="form-control" id="qName" name="qName" value="<%= settings.qName%>">
                    </div>
                </div>
            
                <div class="col-md-2">
                </div>
            </div>
            
            <div class="row" id="Category">
                <div class="col-md-2">
                    <label for="qName">Category:</label>
                </div>
                <div class="col-md-8">
                    <select id="drop_category" name="drop_category" class="selectpicker">
                        <% include ./index_partials/categories_list %>
                    </select>
                </div>
            
                <div class="col-md-2">
                </div>
            </div>
            <br/>
            
            <div class="row" id="Description">
                <div class="col-md-2">
                    <label for="qDescription">Description:</label>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="qDescription" name="qDescription" ><%= settings.qDescription%></textarea></textarea>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            
            <div class="row" id="qNum_cb">
                <div class="col-md-2">
                    <label for="qNumber">Display all questions</label>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <% if (settings.qNumber==='all') { %>
                            <input type="checkbox" value="true" name="cb_qNumber" checked>
                        <% } else { %>
                            <input type="checkbox" value="true" name="cb_qNumber">
                        <% } %>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>            
            
            <div class="row" id="qNum">
                <div class="col-md-2">
                    <label for="qNumber">Number of questions:</label>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                            <input class="form-control" id="qNumber" name="qNumber" value="<%= settings.qNumber%>">
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>  
            
            <div class="row">
                <div class="col-md-2">
                    <label for="shuffleQuestion">Display questions in random order:</label>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <% if (settings.qNumber !=='all') { %>
                            <input type="checkbox" value="true" name="cb_shuffleQuestion" id="cb_shuffleQuestion" disabled="true" checked>
                            <input class="form-control" id="shuffleQuestion" name="shuffleQuestion" type="hidden" value="true"/>
                        <% } else { %>
                        <% if (settings.shuffleQuestion) { %>
                            <input type="checkbox" value="true" name="cb_shuffleQuestion" id="cb_shuffleQuestion" checked>
                            <input class="form-control" id="shuffleQuestion" name="shuffleQuestion" type="hidden" value="true"/>
                        <% } else { %>
                            <input type="checkbox" value="true" name="cb_shuffleQuestion" id="cb_shuffleQuestion">
                            <input class="form-control" id="shuffleQuestion" name="shuffleQuestion" type="hidden" value="false"/>
                        <% }}%>

                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>   

            <div class="row">
                <div class="col-md-2">
                    <label for="shuffleAnswers">Display answers in random order:</label>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <% if (settings.shuffleAnswers) { %>
                            <input type="checkbox" value="false" id="cb_shuffleAnswers" name="cb_shuffleAnswers" checked>
                            <input class="form-control" id="shuffleAnswers" name="shuffleAnswers" type="hidden" value="true"/>
                        <% } else { %>
                            <input type="checkbox" value="false" id="cb_shuffleAnswers" name="cb_shuffleAnswers">
                            <input class="form-control" id="shuffleAnswers" name="shuffleAnswers" type="hidden" value="false"/>
                        <% } %>
                        
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>   
            
            <div class="row">
                <div class="col-md-2">
                    <label>Time limit:</label>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="checkbox" id="cb_timeLimit" name="cb_timeLimit" <% if (settings.timeLimit) { %> checked <% } %> >
                        <input class="form-control" id="timeLimit" name="timeLimit" type="hidden" value="<%= settings.timeLimit %>"/>
                    </div>
                </div>
            </div>  
            <div class="row" id="time" <% if (!settings.timeLimit) { %> style="display: none;" <% } %> >
                <div class="col-md-2">
                    <label>Limit per answer in seconds:</label>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="timeLimitVal" id="timeLimitVal" value="<% if (settings.timeLimit) { %><%= settings.timeLimitVal %><% } else { %><% } %>">
                        </div>
                    </div>
                </div>
            </div>  
            <input class="form-control" id="_id" name="_id" type="hidden" value="<%= settings._id %>"/> 
            </form>
            <button class="btn btn-success" id="submit_btn">Save changes</button>
            <button class="btn btn-danger" id="cancel">Cancel</button>
        </div>
        <br/>
    </main>
    <br/>
    </div>

    <footer>
        <% include ./index_partials/footer %>
    </footer>
    <script>
        $(function(argument) {
            $('[type="checkbox"]').bootstrapSwitch();
        })
    </script>
    
    
    
    
                          <!--<                   !--SAVE IMAGE MODAL--                                  >-->
      <div id='saveImageModal' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change Quiz Icon</h4>
      </div>
      <div class="modal-body">
        <p>File Upload</p>
        <form action="/uploadQuizIcon" method="POST" enctype="multipart/form-data">
          Select an image to upload:
          <input class="btn btn-sm btn-warning" type="file" name="file">
          <input class="form-control" id="_id" name="_id" type="hidden" value="<%= settings._id %>"/>
             </br>
            <input class="btn btn-sm btn-warning" type="submit" value="UploadImage">
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

</body>

</html>