<!DOCTYPE html>

<head>
    <% include ./index_partials/head %>
        <script src="../js/questions.js"></script>
        <link href="/scripts/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
        <script src="/scripts/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
</head>

<body>

        <% include ./index_partials/navbar %>
<div class="container">
         <% include ./form_questions %>
         <% include ./form_questions_edit %>
    <main>
        <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#addQuestion">
            <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-info"></span>
            Add question
          </button>
          
          <% for(var i=settings.questions.length-1; i>=0; i--) {%>
            <div id="<%= settings.questions[i]._id %>">
              <div class="question">
                Question: <span class="question-text"> <%= settings.questions[i].questionText %></span>
              </div>
              <div class="answers">
                <% for(var y=0; y<settings.questions[i].answers.length; y++) {%>
                  <div class="answer">
                    Answer<%= y %> 
                    <span class="answer-text">
                      <%= settings.questions[i].answers[y].answer %>
                    </span>
                    (
                      <% if (settings.questions[i].answers[y].correct == "true") { %> 
                      <span class="answer-correct">
                        <%= "correct answer" %> 
                      </span>
                      <% } else { %>
                      <span class="answer-correct">
                        <%= "incorrect answer" %> 
                      </span>
                      <% }%> 
                    )
                  </div>
                <% } %>
              </div>
              <div class="buttons">
                <a class="btn icon-btn btn-info btn_edit" data-toggle="modal" data-target="#editQuestion">
                <span class="glyphicon btn-glyphicon glyphicon-edit img-circle text-info"></span>
                Edit
                </a>
                <a class="btn icon-btn btn-warning btn_remove" method="post">
                <span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>
                Remove
                </a>
              </div>
            </div>
          <% } %>
    </main>
</div>
    <footer>
        <% include ./index_partials/footer %>
    </footer>
    <script>
        $(function(argument) {
            $('[type="checkbox"]').bootstrapSwitch();
        })
    </script>
</body>

</html>