<!DOCTYPE html>

<head>
    <% include ./index_partials/head %>
        <script src="../js/questions.js"></script>
        <link href="/scripts/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
        <script src="/scripts/bootstrap-switch/dist/js/bootstrap-switch.js"></script>

<script>
//REFERENCE: http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown

/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


<style>
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    z-index:2;
    position: relative;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 390px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 5px 7px;
    margin:10px;
    text-decoration: none;
    float:left;
    /*display: block;*/
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
</style>


</head>

<body>

        <% include ./index_partials/navbar %>
<div class="mainContainer container">
         <% include ./form_questions %>
         <% include ./form_questions_edit %>
    <main class="topPadding">
          <div class="col-md-6 question_container">

<button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#addQuestion">
<span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-info"></span>
 Add New question
</button>  
          <% for(var i=settings.questions.length-1; i>=0; i--) {%>
            <div id="<%= settings.questions[i]._id %>">
              <div class="question">
                Question: <span class="question-text"> <%= settings.questions[i].questionText %></span>
              </div>
              <div class="answers">
                <% for(var y=0; y<settings.questions[i].answers.length; y++) {%>
                  <div class="answer">
                    Answer <%= y+1 %> 
                    <span class="answer-text">
                      <%= settings.questions[i].answers[y].answer %>
                    </span>
                    (
                      <% if (settings.questions[i].answers[y].correct == "true") { %> 
                      <span class="answer-correct">
                        <%= "correct answer" %> 
                      </span>
                      <% } else { %>
                      <span class="answer-correct">
                        <%= "incorrect answer" %> 
                      </span>
                      <% }%>
                    )
                  </div>
                <% } %>
              </div>
              <div class="buttons">
                <a class="btn icon-btn btn-info btn_edit" data-toggle="modal" data-target="#editQuestion">
                <span class="glyphicon btn-glyphicon glyphicon-edit img-circle text-info"></span>
                Edit question
                </a>
                <a class="btn icon-btn btn-warning btn_remove" method="post">
                <span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>
                Remove question
                </a>
              </div>
            </div>
          <% } %>
          </div>
          
          <!--SEPARATE CONTAINER FOR API QUESTIONS:::-->
          <div class="col-md-6 api_question_container">
        <h3>Option to select API Questions:</h3>    
    
            <h2><span id=api_topic></span> </h2>
<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Topics</button>
  <div id="myDropdown" class="dropdown-content">
    
    <% for (var i = 0;i<api_list.length;i++){ %>
    <a href="javascript:generateList(<%= api_list[i].id %>,'<%= api_list[i].title %>')"><%= api_list[i].title %>
    <span class="badge" style="margin-left:5px;"><%= api_list[i].clues_count %></span>
    </a>
    <%   }  %>
  </div>
</div>

<div id="area_for_api_questions">
  <h2 style="color:red">If this doesnt work, please authorize to this link: <a alt='jservice website link' href = 'https://jservice.io'>https://jservice.io</a></h2>
</div>
            
     </div>
     <script>
     
     //WHEN ADDING API QUESTION TO THE LIST
     function addQuestionToList(index){
       //adding question to the modulus
      // tempArray[index].answer
       $("#newQuestion").val(tempArray[index].question);
       $("#question_holder").val(tempArray[index].answer);
       
// document.getElementById("question_holder").parentNode.nextSibling.childNodes[0].className = "bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-off bootstrap-switch-animate";
    
         $('#addQuestion').modal({
        show: 'true'
    }); 
     
      
      
      try{
        currentTopic = JSON.parse(localStorage.getItem("currentTopic"));
      }
      catch(err){
        localStorage.setItem("currentTopic", JSON.stringify({topic:'anagrams',id:754}));
      }
     
     
     
     
     }

       $(document).ready(function(){
         
  //generateList(754,'anagrams');
  
        try{
        currentTopic = JSON.parse(localStorage.getItem("currentTopic"));
        generateList(currentTopic.id,currentTopic.topic);
      }
      catch(err){
        localStorage.setItem("currentTopic", JSON.stringify({topic:'anagrams',id:754}));
      }
  
  
       })
       //OPEN FUNCTION HERE
       var tempArray = [];
       var currentTopic;
       function generateList(id,topic){
         
                                                               $.ajax({
                              type: "GET",
                              dataType: 'json',
                              url: "https://jservice.io/api/category?id="+id,
                              success: function(data) {
                                    //change topic of the HEad
                                    tempArray =[];
                                    currentTopic =  localStorage.setItem("currentTopic", JSON.stringify({topic:topic,id:id}));
                                        document.getElementById("api_topic").innerHTML = 'Questions for topic: <b>'+topic+"</b>";
                                         document.getElementById("area_for_api_questions").innerHTML = "";
                                        //add question code here
                                 // data = JSON.parse(data);
                                    for(var i = 0;i<data.clues_count;i++){

                                        tempArray.push(data.clues[i]);
                                        addQuestionElement(data.clues[i],i+1);
                              }
                              },
                              complete:function(){
                                        //after compreting load do something
                                    }
                              })//end ajax
         
       }
       
       
       //generating Question:::
       
       
                               function addQuestionElement(data,index){
                          
                        var tmp = $('<a/>', {
                            class:"list-group-item animated zoomIn",
                            id:"question_"+data.id,
                            style:"",
                        }).appendTo('#area_for_api_questions');
                         
                        
                        //description
                         $('<h4/>', {
                            class:'list-group-item-heading',
                            style:"",
                            text: "Question No: " + index + ", Dificulty: " + data.value
                        }).appendTo(tmp);

                        //Question itself
                        $('<h4/>', {
                            class:'list-group-item-heading',
                            style:"",
                            text: "Question: "+data.question
                        }).appendTo(tmp);
                        
                        //answer
                         $('<p/>', {
                            style:"",
                            class:'list-group-item-text',
                            text: "Answer: "+data.answer
                        }).appendTo(tmp);
                        
                            $('<a/>', {
                            id: 'add_button_'+data.id,
                            href: 'javascript:addQuestionToList('+(index-1)+')',
                            style:"margin-left:10px;",
                            text: 'Add'
                        }).appendTo(tmp);
                        
                    }
       
       
       
       
       
       
     </script>
    </main>
</div>
    <footer>
        <% include ./index_partials/footer %>
    </footer>
    <script>
        $(function(argument) {
            $('[type="checkbox"]').bootstrapSwitch();
        })
    </script>
</body>

</html>