<!DOCTYPE html>

<head>
    <% include ./index_partials/head %>
        <script src="../js/showlist.js"></script>
        <link href="/scripts/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
        <script src="/scripts/bootstrap-switch/dist/js/bootstrap-switch.js"></script>

</head>

<body>

        <% include ./index_partials/navbar %>
<div class="main_body_background">
<div class="mainContainer container">
   
    <main class="topPadding">
    <h2 class="text-center">Take Quiz</h2>
    <br/>
    <hr/>
    <br/>

    <% for(var i=0; i<list.length; i++) {%>
    <div class="container-fluid" id="<%= list[i]._id %>">

            <!--STARTING ROW WITH THE QUIZES NOW -->


<!--FORURTH ENTITY-->

      <a class='quizEntity' href="/showQuizIndex?id=<%= list[i]._id%>">
    <div id="<%= list[i]._id %>" class="thumbnail quizEntity">
      <div class="caption">
          <div class="row">
              <div class="col-md-1">
                  <img height="70" width="70" src="<%= list[i].picture %>" alt="quiz_picture">
              </div>
              <div class="col-md-11">
                  <h3><%= list[i].qName %></h3>
                  <h5><%= list[i].qDescription %></h5>
                          <% if (user.local.email === list[i].owner) { %>

                <h5 style="color:blue">(You are the owner of this quiz)</h5>
    	 <% } %>
              </div>
        <p>
        </p>
        <!--<p><a href="/quiz?id=<%= list[i]._id %>" class="btn btn-primary" role="button">Take Quiz</a> </p>-->
        </div>
      </div>
    </div>
    </a>





    	</div>
<% } %>
    </main>
    <footer>
        
        <% include ./index_partials/footer %>
        
    </footer>
    
</div>
</div>    
    <script>
        $(function(argument) {
            $('[type="checkbox"]').bootstrapSwitch();
        })
    </script>
</body>

</html>